[user]
    name = Lyall Jonathan Di Trapani
    email = lj.ditrapani@gmail.com
	signingkey = 071BA92C4F42179D4B6D0A6A9A638B72C3A5CF9F
[core]
    editor = nvim
[push]
    default = simple
[pull]
    ff = only
[init]
    defaultBranch = main
