[user]
    name = Lyall Jonathan Di Trapani
    email = jonathan.ditrapani@assured.claims
	signingkey = 2A173E89536BD3811A8F8C641A99296D69D664D2
[core]
    editor = hx
[push]
    default = simple
[pull]
    ff = only
[init]
    defaultBranch = main
[commit]
	gpgsign = true
