[user]
    name = Jonathan Di Trapani
    email = jonathan.ditrapani@statflo.com
	signingkey = 5B39BB469E1A67E840ACDF5B3952ED766D23DEE5
[core]
    editor = nvim
[push]
    default = simple
[pull]
    ff = only
[init]
    defaultBranch = main
[commit]
	gpgsign = true
