URxvt.foreground:   #d8f0ff
URxvt.background:   #202020
URxvt.cursorColor:  #ffffff
URxvt.scrollBar:    false
URxvt.saveLines:    5000
URxvt.urgentOnBell: false
URxvt.visualBell:   true
URxvt.color12:      #4066ff
