URxvt.foreground:   #d8f0ff
URxvt.background:   #202020
URxvt.cursorColor:  #ffffff
URxvt.scrollBar:    false
URxvt.saveLines:    5000
URxvt.urgentOnBell: false
URxvt.visualBell:   true

! black
URxvt.color0  : #000000
URxvt.color8  : #404040
! red
URxvt.color1  : #FF0000
URxvt.color9  : #FF6060
! green
URxvt.color2  : #00FF00
URxvt.color10 : #60FF60
! yellow
URxvt.color3  : #FFFF00
URxvt.color11 : #FFFFAA
! blue
URxvt.color4  : #3030B0
URxvt.color12 : #4066FF
! magenta
URxvt.color5  : #FF00FF
URxvt.color13 : #FFA0FF
! cyan
URxvt.color6  : #00A0A0
URxvt.color14 : #00FFFF
! white
URxvt.color7  : #C0D0E0
URxvt.color15 : #FFFFFF
