[user]
    name = Lyall Jonathan Di Trapani
    email = lj.ditrapani@gmail.com
    signingkey = B84FC5E9A74B2362C1CB0329B051A1E0D3D8AAE5
[core]
    editor = nvim
[push]
    default = simple
[pull]
    ff = only
[init]
    defaultBranch = main
[commit]
    gpgsign = true
[diff]
    tool = nvimdiff
