[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[[language]]
name = "markdown"
language-servers = [ "marksman",  "markdown-oxide" , "harper-ls" ]

[[language]]
name = "git-commit"
language-servers = [ "harper-ls" ]
